@import "~sass-variables";

.screen {
  min-height: 100vh;
  position: relative;
  padding-top: calc(80px + 3rem); //Navbar spacing
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  @media screen and (max-width: $medium) {
    padding-top: calc(70px + 2rem); //Navbar spacing
  }
}
