@import "variables.scss";

.vantaContainer {
  width: 100%;
  min-height: 100vh;
}

.screen {
  width: 60%;
  max-width: 80rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 300;
  }
  h1 {
    color: $red !important;
    font-size: 5rem;
    font-weight: 800;
    span {
      color: $red;
      font-size: 5rem;
      font-weight: 800;
      margin-left: 2rem;
      display: inline-block;
      transform: translateY(-25px);
    }
  }
  span {
    color: $orange;
    font-size: 3.2rem;
    font-weight: 500;
    display: inline-block;
    transform: translateY(-25px);
  }
  button {
    background: $green;
    border: none;
    border-radius: 5px;
    width: min-content;
    white-space: nowrap;
    font-size: 1.8rem;
    color: $gray;
    font-weight: 500;
    margin-top: 1rem;
    padding: 5px 45px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      opacity: 0.7;
      transform: scale(1.05);
    }
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  margin-top: 5rem;
  position: relative;
  width: 17rem;
  height: 17rem;
  .profileImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .colorWheelContainer {
    position: absolute;
    inset: 0;
    width: calc(100% + 2.5rem);
    height: calc(100% + 2.5rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .colorWheel {
        animation-name: spin;
        animation-fill-mode: forwards;
      }
    }
    .colorWheel {
      pointer-events: none;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: conic-gradient(
        $red 120deg,
        $orange 120deg 240deg,
        $green 240deg 360deg
      );
      animation-name: spin-reverse;
      animation-duration: 0.5s;
    }
  }
}

.iconsContainer {
  display: flex;
  align-items: center;
  transform: translateY(50%);
}

.socialContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 5px;
  .socialIcon {
    color: $green;
    width: 3rem;
    animation-name: spin-reverse;
    animation-duration: 0.5s;
    &.linkedin {
      width: 2.9rem;
    }
  }
  &:hover {
    opacity: 0.7;
    .socialIcon {
      animation-name: spin;
      animation-fill-mode: forwards;
    }
  }

  h4 {
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 1rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
