@import "~sass-variables";

.vantaContainer {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
}

.screen {
  width: 60%;
  max-width: 80rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $large) {
    width: 80%;
  }
  @media screen and (max-width: $medium) {
    flex-direction: column;
    margin-top: 6rem;
    min-height: unset;
  }
}

.leftContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  h2 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 300;
    @media screen and (max-width: $mediumLarge) {
      font-size: 2rem;
    }
    @media screen and (max-width: $mediumSmall) {
      font-size: 1.5rem;
    }
  }
  h1 {
    color: $primary !important;
    font-size: 5rem;
    font-weight: 800;
    @media screen and (max-width: $mediumLarge) {
      font-size: 4rem;
    }
    @media screen and (max-width: $mediumSmall) {
      font-size: 3rem;
    }
    span {
      color: $primary;
      font-size: 5rem;
      font-weight: 800;
      margin-left: 2rem;
      display: inline-block;
      transform: translateY(-25px);
      @media screen and (max-width: $mediumLarge) {
        font-size: 4rem;
      }
      @media screen and (max-width: $mediumSmall) {
        font-size: 3rem;
        transform: translateY(-20px);
      }
    }
  }
  .typeWriterContainer {
    white-space: nowrap;
    width: min-content;
    span {
      color: $secondary;
      font-size: 3.2rem;
      font-weight: 500;
      display: inline-block;
      transform: translateY(-25px);
      @media screen and (max-width: $mediumLarge) {
        font-size: 2.2rem;
      }
      @media screen and (max-width: $mediumSmall) {
        font-size: 1.6rem;
      }
    }
  }
  .contactButton {
    width: min-content;
    white-space: nowrap;
    background: $white;
    font-size: 1.5rem;
    padding: 0.2rem 2rem;
    margin-top: 1rem;
    &:hover {
      opacity: 0.8;
    }
    @media screen and (max-width: $mediumLarge) {
      font-size: 1rem;
    }
    @media screen and (max-width: $medium) {
      width: 100%;
    }
    @media screen and (max-width: $mediumSmall) {
      font-size: 0.9rem;
      margin-top: 0rem;
    }
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $medium) {
    flex-direction: column-reverse;
  }
}

.profileContainer {
  margin-top: 5rem;
  position: relative;
  width: 17rem;
  height: 17rem;
  @media screen and (max-width: $mediumLarge) {
    width: 14rem;
    height: 14rem;
  }
  @media screen and (max-width: $medium) {
    margin-top: 3.5rem;
  }
  @media screen and (max-width: $mediumSmall) {
    height: 12rem;
    width: 12rem;
  }
  .profileImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .colorWheelContainer {
    position: absolute;
    inset: 0;
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .colorWheel {
        animation-name: spin-circle;
        animation-fill-mode: forwards;
      }
    }
    .colorWheel {
      pointer-events: none;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: conic-gradient(
        $primary 120deg,
        $white 120deg 190deg,
        $secondary 190deg 360deg
      );
      transform: rotate(20deg);
      animation-name: spin-cicle-reverse;
      animation-duration: 0.5s;
    }
  }
}

.iconsContainer {
  display: flex;
  align-items: center;
  transform: translateY(50%);
  @media screen and (max-width: $medium) {
    margin: 2rem 0 5rem 0;
  }
}

.socialContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 3px;
  .socialIcon {
    color: $white;
    width: 3rem;
    animation-name: spin-reverse;
    animation-duration: 0.5s;
    &.linkedin {
      width: 2.9rem;
    }
    @media screen and (max-width: $mediumLarge) {
      width: 2.4rem;
      &.linkedin {
        width: 2.4rem;
      }
    }
    @media screen and (max-width: $mediumSmall) {
      width: 2.1rem;
      &.linkedin {
        width: 2.1rem;
      }
    }
  }
  &:hover {
    opacity: 0.7;
    .socialIcon {
      animation-name: spin;
      animation-fill-mode: forwards;
    }
  }

  h4 {
    color: $white;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 1rem;
    @media screen and (max-width: $mediumLarge) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: $mediumSmall) {
      font-size: 1.2rem;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes spin-circle {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(280deg);
  }
}
@keyframes spin-cicle-reverse {
  from {
    transform: rotate(280deg);
  }
  to {
    transform: rotate(20deg);
  }
}
