$black: #000000;
$white: #fbfff1;
$gray: #464655;
$background: #001e3c;
$primary: #3baaff;
$secondary: #2280df;
$danger: #ce4d1f;

$large: 1500px;
$mediumLarge: 1250px;
$medium: 900px;
$mediumSmall: 750px;
$small: 600px;

:export {
  primary: $primary;
  secondary: $secondary;
  background: $background;
  black: $black;
  white: $white;
  gray: $gray;
  danger: $danger;
  large: $large;
  mediumLarge: $mediumLarge;
  medium: $medium;
  mediumSmall: $mediumSmall;
  small: $small;
}
